<!-- Matomo Tag Manager -->

<script id="__analytics">
  function __md_analytics() {
    var _mtm = window._mtm = window._mtm || [];
    _mtm.push({'mtm.startTime': (new Date().getTime()), 'event': 'mtm.Start'});
    var d = document, g = d.createElement('script'), s = d.getElementsByTagName('script')[0];
    g.async = true; 
    g.src = 'https://analytics.maintainerr.info/js/container_jpsy0nfz.js'; 
    s.parentNode.insertBefore(g, s);

  /* Set up feedback, i.e. "Was this page helpful?" */
    document.addEventListener("DOMContentLoaded", function() {
      document$.subscribe(function() {
        var feedback = document.forms.feedback
        if (typeof feedback === 'undefined') return

        /* Send feedback to Analytics */
        for (var button of feedback.querySelectorAll('[type=submit]')) {
          button.addEventListener('click', function (ev) {
            ev.preventDefault()

          /* Retrieve and send data */
          var page = document.location.pathname
          var data = this.getAttribute("data-md-value")
          console.log(page, data)
          window._paq.push(['trackEvent','Ratings','Feedback_Provided',{page}, {data}])

          /* Disable form and show note, if given */
          feedback.firstElementChild.disabled = true
          var note = feedback.querySelector(
            ".md-feedback__note [data-md-value='" + data + "']"
          )
          if (note) note.hidden = false
        })

        /* Show feedback */
        feedback.hidden = false
        }
      })
  })  
}
</script>
<!-- End Matomo Tag Manager -->
