<!-- Determine analytics provider -->
{% if config.extra.analytics %}
  {% set provider = config.extra.analytics.provider %}
{% endif %}

<!-- Set up analytics provider -->
{% if provider %}
  {% include "partials/integrations/analytics/" ~ provider ~ ".html" %}

  {% if config.extra.consent %}
  <script>
    // Initialize Matomo's _paq array
    window._paq = window._paq || [];
    window._paq.push(['requireCookieConsent']);
    
    // Check initial consent and load analytics
    var consent = __md_get("__consent");

    if (consent && consent.analytics) {
      console.log(`We have analytics liftoff. Value of consent, ${consent.analytics}`);
      window._paq.push(['rememberCookieConsentGiven']); // Remember consent
      __md_analytics(); // Load Matomo if consent is given
    }
     else if (!consent) { // Load consent popup
      console.log('It looks like you have not explicity consented to analytics. Let us fix that.')
      window.location.href = "#__consent";
    }
     else if (consent && !consent.analytics) {
      console.log(`The launch of our analytics rocket is postponed. Value of consent, ${consent.analytics}`)
    }

    // Monitor local storage for changes in consent
    window.addEventListener("storage", function (event) {
      if (event.key === "__consent") {
        var updatedConsent = __md_get("__consent");

        if (updatedConsent && updatedConsent.analytics) {
          // Consent granted
          window._paq.push(['rememberCookieConsentGiven']);
          __md_analytics();
          __md_feedback();
        } else {
          // Consent revoked or not set
          window._paq.push(['forgetCookieConsentGiven']);
          console.log(`Analytics consent revoked. Consent value = ${updatedConsent.analytics}. Analytics disabled.`);
        }
      }
    });
  </script>
  {% endif %}
{% endif %}
